<div class="container is-fluid">
  <br></br>
  <%= render 'partials/header' %>
  <%= render 'partials/recieve' %>
</div>

<div class="container is-fluid">
<%= render 'partials/emptymsg' %>

<divclass="container is-fluid" id="aSucccess">
  <article class="message is-success">
    <div class="message-body">
      Message sent
    </div>
  </article>
</div>

<div class="box" id="cor">
  <% @bottles.each do |bottle| %>
       <div class="columns is-desktop">
         <div class="column is-10">
           <div class="notification">
             <%= bottle.body %>
           </div>
         </div>
         <div class="column">
           <a class="button" onclick="my_func(<%= bottle.creator_id %>)">PM sender</a>
         </div>
       </div>
  <%end %>
</div>

<div class="field" id="cmsg">
  <label class="label">Write Message</label>
  <p class="control">
    <textarea class="textarea" placeholder="write msg" id="msgtext"></textarea>
  </p>
  <br></br>
  <div>
    <a class="button is-success" id="postC">Send</a>
    <a class="button is-warning" href="/getmessages">Cancel</a>
  </div>
</div>

</div>

<script type='text/javascript'>
  function my_func(x){
    $(document).ready(function(){
      $("#cor").fadeOut("slow", "swing", function(){
        $("#cmsg").slideDown("fast");
      });
      
      $("#postC").click(function(){
        var msg = $("#msgtext").val();
        if(msg == ""){
            $("#err").slideDown("slow").delay(3000).fadeOut("slow");
        }else{
            // create ajax call
            d  = {
              'id' :  x,
              'message': msg
            }
            $.ajax({
              type: "post",
              url: "/conversation",
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data: d
            }).success(function(json){
              $("#aSucccess").fadeIn("slow").delay(3000).fadeOut("slow");
              console.log(json);
            });
            $("#msgtext").val("");
        }
      });
    })
  }
</script>

<script type='text/javascript'>
$(document).ready(function(){
  $("#aSucccess").hide();
  $("#err").hide();
  $("#header").hide();
  $("#cmsg").hide();
});
</script>

<script>
(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();
</script>